* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #ad5389, #3c1053);
    color: white;
}

h1 {
    text-align: center;
    margin: 5% auto 2%;
    font-weight: 600;
    margin-bottom: 3%;
}

h1 span {
    color: #FF3929;
}

form {
    width: 90%;
    max-width: 600px;
    height: 50px;
    background: #272727;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

form input {
    flex: 1;
    font-size: 15px;
    background: transparent;
    color: white;
    outline: 0;
    border: 0;
    padding: 0 30px;
}

form button {
    width: 50px;
    border-radius: 8px;
    border: 0;
    height: 100%;
    background: #ff3929;
    color: white;
    cursor: pointer;
}

ion-icon {
    font-size: 23px;
    --ionicon-stroke-width: 40px;
}

::placeholder {
    color: #fff;
    font-size: 15px;
}

#more {
    font-size: 15px;
    border-radius: 4px;
    margin: 10px auto 5%;
    padding: 0.5% 1%;
    border: 0;
    background: #ff3929;
    color: white;
    cursor: pointer;
    display: none;
}

#sresult {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

#sresult img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #FF7B54;
}

@media (max-width: 800px) {
    form {
        width: 70%;
    }

    h1 {
        margin-bottom: 6%;
    }
    #sresult {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: 30px;
        margin-bottom: 6%;
    }
    #sresult {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 25px;
        margin-bottom: 8%;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 20px;
    }
    form {
        height: 35px;
    }
    #sresult img {
        height: 150px;
    }
}

@media (max-width: 330px) {
    h1 {
        font-size: 18px;
    }
    form {
        height: 32px;
        width: 80%;
    }
    form input{
        font-size: 13px;
    }
    form button{
        width: 35px;
    }
    #sresult img {
        height: 150px;
    }
}
